
<!doctype html>
<html style="height: 100%;width:100%;">

<head>
	<title>Grid Lines Style Settings</title>

	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    #mycanvasarea{
        position:relative;
    }

    #canvasTop,#canvas{
        position:absolute; top:0px; left:0px;
        border:1px solid green;
    }
    #canvasTop{
        
        border:1px solid grey;
    }
	</style>
</head>

<body style="height: 100%;background-color: black">
	<div id="mycanvasarea" style="height:150%;width: 98%;margin-left: auto;margin-right: auto;margin-top: 0.5%;background-color: yellow">
        <canvas id="canvas"></canvas>
        <canvas id="canvasTop"></canvas>
        
    </div>
    <script type="text/javascript" src="jquery.js" ></script>
    

	<script>

        // to paste in url
        // [{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600001,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17}]&symbolName=TCS

    var symbolName;
    

    var signaldata;
    var IntervalType;

    var onemin = 60000;
    var onehour = onemin*60;
    var oneday = onehour*24;
    var oneweek = oneday*7;
    var onemonth = oneday*30;
    var oneyear = onemonth*12;
    
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    var PricesForY =[];
    var minprice=10;
    var maxprice=50;
    var mindate;
    var maxdate;
    var totalYLinesLimit = 14;
    var candlewidth;
    var canldeWidthWithMargin;

    // var notes=[10,11,12,13,14,15,16,17,18,19];

    var alldata = JSON.parse(decodeURI("<%= ohlcdata %>"));
    var OHLCData = alldata.ohlcdata;
    symbolName = alldata.symbolName;
    signaldata = alldata.signaldata;
    IntervalType = alldata.IntervalType;



    var dataforpaste='{"ohlcdata":[{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17}],"signaldata":{"signalType":"early","timestamp":"1547058600001","allHigh":"30","allLow":"10","positionType":"long"},"IntervalType":"1","symbolName":"TCS"}';
    // var OHLCData='[{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17},{"timestamp":1547058600000,"open":24.29,"high":41.43,"low":15.71,"close":35.71},{"timestamp":1547058600000,"open":12,"high":14,"low":11.8,"close":13},{"timestamp":1547058600000,"open":14,"high":20,"low":12.1,"close":13.5},{"timestamp":1547058600000,"open":15,"high":18,"low":14,"close":17}]';
    // var OHLCData =[
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:5,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4},
    //     {timestamp:1547058600000,open:2,high:6,low:1,close:4}
       
    //     ];

    // var OHLCData =[
    //     {timestamp:1547058600000,open:24.29,high:41.43,low:15.71,close:35.71},
    //     {timestamp:1547058600000,open:12,high:14,low:11.8,close:13},
    //     {timestamp:1547058600000,open:14,high:20,low:12.1,close:13.5},
    //     {timestamp:1547058600000,open:15,high:18,low:14,close:17},
    //     {timestamp:1547058600000,open:24.29,high:41.43,low:15.71,close:35.71},
    //     {timestamp:1547058600000,open:12,high:14,low:11.8,close:13},
    //     {timestamp:1547058600000,open:14,high:20,low:12.1,close:13.5},
    //     {timestamp:1547058600000,open:15,high:18,low:14,close:17},
    //     {timestamp:1547058600000,open:24.29,high:41.43,low:15.71,close:35.71},
    //     {timestamp:1547058600000,open:12,high:14,low:11.8,close:13},
    //     {timestamp:1547058600000,open:14,high:20,low:12.1,close:13.5},
    //     {timestamp:1547058600000,open:15,high:18,low:14,close:17},
    //     {timestamp:1547058600000,open:24.29,high:41.43,low:15.71,close:35.71},
    //     {timestamp:1547058600000,open:12,high:14,low:11.8,close:13},
    //     {timestamp:1547058600000,open:14,high:20,low:12.1,close:13.5},
    //     {timestamp:1547058600000,open:15,high:18,low:14,close:17}
       
    //     ];
    
    var totalpointslimit;

        var canvasHeight=550;
        var canvasWidth=1050;
        var ctx;
        var ctxtop;
        var canvas;
        var canvasTop;
        function cx(val)
        {
            var ret = (canvasWidth/100)*val;
            return ret;
        }
        function cy(val)
        {
            var ret = (canvasHeight/100)*val;
            return ret;
        }

        function rcx(val)
        {
            var ret=val/(canvasWidth/100);
            return ret;
        }
        function rcy(val)
        {
            var ret=val/(canvasHeight/100);
            return ret;
        }

        function display(val){
            var extest = document.getElementById('display').innerHTML;
            document.getElementById('display').innerHTML=extest+"<br>"+val;
        }
        function drawCanvas(){
            
            ctx.canvas.style.backgroundColor="#606060";
            
            
            // ctx.canvas.style.backgroundColor="#262626";
            canvasheight = $(ctx.canvas).parent().height();
            canvaswidth = $(ctx.canvas).parent().width();
            // console.log($(ctx.canvas).parent())

            ctx.canvas.height=canvasheight;
            ctx.canvas.width=canvaswidth;
            ctxtop.canvas.height=canvasheight;
            ctxtop.canvas.width=canvaswidth;
            

            ctx.moveTo(cx(90),cy(10));
            ctx.lineTo(cx(90),cy(90));
            ctx.lineTo(cx(10),cy(90));
            ctx.lineTo(cx(10),cy(10));
            ctx.strokeStyle="white";
            ctx.stroke();
            
            
            


            

            
        }

        
        function drawPriceLines(){
            
            
            //drawPriceLine(eachswaraPercentage);
            PricesForY.forEach(function(item,index){
                var pospixel = getypositionMarks(index);
                drawPriceLine(pospixel,item);
            })
            
            
            
        }

        function drawPriceLine(num,note){
            //display(num);
            ctx.beginPath();
            ctx.moveTo(cx(90),cy(num));
            ctx.lineTo(cx(10),cy(num));
            ctx.strokeStyle="grey";
            ctx.stroke();

            ctx.beginPath();
            ctx.font = "90% Georgia";
            ctx.fillStyle="white"
            ctx.fillText(" "+note, cx(90), cy(num+0.8));
            
            ctx.stroke();


        }
        

        
        function getypositionMarks(number)
        {
            var perHFactor = 80/totalYLinesLimit;
            // var skipH = 100*perHFactor;
            var pos = (perHFactor*number);
            return 90-pos;
        }

        function getypositionByPrice(price){
            var inputprice=price-minprice;
            var diffval = maxprice-minprice;
            var eachdiff = diffval/totalYLinesLimit;
            var forprice = inputprice/eachdiff;
            var perHFactor = 80/totalYLinesLimit;
            var pos =forprice*perHFactor
            x = 90-pos;
            return x;
            //returning in percent
        }

        // can not take percent inputs, so should provide direct x co ordinate
        function getyPriceByPosition(yposition){
            var YinPercent = rcy(yposition);
            var diffval = maxprice-minprice;
            var eachdiff = diffval/totalYLinesLimit;
            var perHFactor = 80/totalYLinesLimit;

            var pos = 90-YinPercent;
            var forprice=pos/perHFactor;
            var inputprice = forprice*eachdiff;
            var price = inputprice+minprice;
            return price;



        }

        function getxIndexByposition(xposition)
        {
            //adjustment
            // var XinPercent=xposition;

            var perWFactor = 80/(totalpointslimit+1);
            var pos = 90-xposition;

            
            var index = pos/perWFactor;
            return index;
        }

        function getxpositionByIndex(index)
        {
            var perWFactor = 80/(totalpointslimit+1);
            var pos = (perWFactor*index);
            return 90-pos;
        }

        function getyposition(pricedata)
        {
            actualprices ={open:pricedata.open-10,high:pricedata.high-10,low:pricedata.low-10,close:pricedata.close-10}
            positions={}
            positions.open=getypositionByPrice(pricedata.open);
            positions.high=getypositionByPrice(pricedata.high);
            positions.low=getypositionByPrice(pricedata.low);
            positions.close=getypositionByPrice(pricedata.close);
            
            return positions;
        }
        
        

        
        var pixelpositions=[];
        function preparePixels(){
            var revindex = OHLCData.length;
            pixelpositions=[];
            OHLCData.forEach(function(item,index){
                console.log(item)
                var positionyval = getyposition(item);
                var positionxval = getxpositionByIndex(revindex-index);
                pixelpositions.push({x:positionxval,y:positionyval});

            })
        }

        function drawSingingNotes(){
            preparePixels();
            
            pixelpositions.forEach(function(item,index){
                //display(item.x+","+item.y);
                // if(index==0){
                    
                // }
                ctx.beginPath();
                ctx.moveTo(cx(item.x),cy(item.y.low));
                ctx.lineTo(cx(item.x),cy(item.y.high));
                ctx.strokeStyle="white";
                ctx.stroke();

                

                // ctx.beginPath();
                // ctx.moveTo(cx(item.x)-cx(0.5),cy(item.y.close));
                // ctx.lineTo(cx(item.x)+cx(0.5),cy(item.y.close));
                // ctx.lineTo(cx(item.x)+cx(0.5),cy(item.y.open));
                // ctx.lineTo(cx(item.x)-cx(0.5),cy(item.y.open));
                // ctx.lineTo(cx(item.x)-cx(0.5),cy(item.y.close));
                // ctx.strokeStyle="white";
                // ctx.stroke();

                // if(item.y.close<item.y.open)
                // ctx.fillStyle="green";
                // else{
                // ctx.fillStyle="red"
                // }
                // ctx.fill();

                ctx.beginPath();
                ctx.rect(cx(item.x)-cx(candlewidth/2) , cy(item.y.close), cx(candlewidth), cy(-(item.y.close-item.y.open)));
                ctx.stroke();
                if(item.y.close<item.y.open)
                ctx.fillStyle="green";
                else{
                ctx.fillStyle="red"
                }
                ctx.fill();

                
                var curdate = new Date(OHLCData[index].timestamp);
                labels = XLabelSelection(curdate);

                ctx.beginPath();
                ctx.moveTo(cx(item.x),cy(0.8))
                var fontsize = candlewidth*2
                 ctx.font= fontsize+"px Arial";
                // ctx.+"% Georgia";
                ctx.fillStyle="white"
                ctx.textAlign = "center";
                ctx.fillText(labels.first , cx(item.x), cy(95));
                ctx.fillText(labels.second , cx(item.x), cy(98));
                ctx.stroke();

                // ctx.beginPath();
                // ctx.arc(cx(item.x), cy(item.y), cx(0.5), 0, 2 * Math.PI);
                // ctx.fillStyle="green";
                // ctx.fill();

                

            })

            

            
        }

        function drawHeader(){
                var fromdt = mindate.toLocaleDateString()+" "+mindate.toLocaleTimeString();
                var todt = mindate.toLocaleDateString()+" "+mindate.toLocaleTimeString();
                ctx.beginPath();
                // ctx.moveTo(cx(50),cy(5))
                ctx.font= "30px Arial";
                ctx.fillStyle="white"
                ctx.textAlign = "center";
                ctx.fillText(symbolName+"'s data from "+fromdt+" to "+todt, cx(50), cy(7));
                // ctx.fillText(labels.second , cx(item.x), cy(98));
                ctx.stroke();
        }

        function showSignalData(){

            //short
                ctx.beginPath();
                ctx.moveTo(cx(50),cy(50));
                ctx.lineTo(cx(54),cy(50));
                ctx.lineTo(cx(52),cy(54));
                ctx.lineTo(cx(50),cy(50));
                ctx.rect(cx(51.3), cy(50), cx(1.5), cy(-9));
                ctx.stroke();
                ctx.fillStyle="red";
                ctx.fill();

            //long
            ctx.beginPath();
                ctx.moveTo(cx(30),cy(30));
                ctx.lineTo(cx(34),cy(30));
                ctx.lineTo(cx(32),cy(26));
                ctx.lineTo(cx(30),cy(30));
                ctx.rect(cx(31.3), cy(30), cx(1.5), cy(9));
                ctx.stroke();
                ctx.fillStyle="green";
                ctx.fill();
        }

        function XLabelSelection(curdate){
            var labels={};

            
            
            if(["1","3","5","15","60"].indexOf(IntervalType)>-1)
            {
                labels.first = curdate.getHours()+"-"+curdate.getMinutes();
                labels.second = curdate.getDate();
            }
            else if(["day","week"].indexOf(IntervalType)>-1 )
            {
                labels.first = curdate.getDate();
                labels.second = monthNames[curdate.getMonth()]
            }
            else if(["month"].indexOf(IntervalType)>-1 )
            {
                labels.first = monthNames[curdate.getMonth()];
                labels.second = curdate.getFullYear();
            }
            else{
                labels.first = curdate.getDate()+"-"+curdate.getMonth()+"-"+curdate.getFullYear();
                labels.second = ""
            }
            
            return labels;
            // val = monthNames[datevalue.getMonth()]
            // return val;
        }

        var lastadded=30;
        function redraw(){
            canvas = document.getElementById('canvas');
			ctx = canvas.getContext('2d');

            canvasTop = document.getElementById('canvasTop');
			ctxtop = canvasTop.getContext('2d');

            
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            
                drawCanvas();
                // return;
                drawPriceLines();
                // return;
                drawSingingNotes();
                showSignalData();
                drawHeader();

                
        }

        function InitValues(){
            var diff = maxprice-minprice;
            var eachdiff = diff/totalYLinesLimit;
            var curprice=minprice;
            PricesForY.push(curprice.toFixed(2));
            for(var i=0;i<totalYLinesLimit;i++){
                curprice = curprice+eachdiff;
                PricesForY.push(curprice.toFixed(2));
            }
            // console.log(PricesForY);
        }

        function calculateMinMaxPrices(){
            maxprice=0;
            minprice=0;
            OHLCData.forEach(element => {
                if(element.high>maxprice || maxprice==0)
                maxprice=element.high;
                if(element.low<minprice || minprice==0)
                minprice=element.low;

                curdate = new Date(element.timestamp);

                if(curdate>maxdate || maxdate==undefined)
                maxdate=curdate;
                if(curdate<mindate || mindate==undefined)
                mindate=curdate;

            });

            var totaldiff = maxprice-minprice;
            var extramargin = totaldiff*0.20;
            maxprice=maxprice+extramargin;
            minprice=minprice-extramargin;

            totalpointslimit= OHLCData.length;

            var tempval = 80/OHLCData.length;
            candlewidth = tempval*1.00;
            canldeWidthWithMargin =tempval;
        }

        function recieveData(){
            const urlParams = new URLSearchParams(window.location.search);
            var sName = urlParams.get('symbolName');
            if(sName==undefined)
            return;
            symbolName=sName;


            var mydata = urlParams.get('data');
            if(mydata==undefined)
            return;

            

            if(mydata[0]=='"')
            mydata=mydata.substr(1,mydata.length-2);


            var dataobj = JSON.parse(decodeURIComponent(mydata));
            OHLCData=dataobj;
            console.log(dataobj)
            console.log(symbolName)

        }

        
        var actualindex;
        function handleMouseMove(evt){
            console.log(Date.now())
            var canvas = document.getElementById('canvasTop');
            var rect = canvas.getBoundingClientRect();
            
            var x= evt.clientX - rect.left;
            var y= evt.clientY - rect.top;
            // var x= evt.clientX;  
            // var y= evt.clientY;
            
            var PointerPrice = getyPriceByPosition(y);

            var XinPercent = rcx(x)
            // -0.01;
            var xindex = getxIndexByposition(XinPercent)
            // xindexchanged =xindex- (xindex*0.50);
            // var timestamp = OHLCData[xindex].timestamp;
            var limitedindex = xindex-Math.floor(xindex)
            if(limitedindex>0.60 || limitedindex<0.30)
            {
                actualindex = totalpointslimit- Math.round(xindex);
                console.log("i is ",actualindex,"price is", PointerPrice);
            }

            ctxtop.clearRect(0,0,canvasTop.width,canvasTop.height);

            if(y>cy(90) || y<cy(10))
            return;
            if(x>cx(90) || x<cx(10))
            return;

            ctxtop.beginPath();
            //horizontal
            ctxtop.moveTo(cx(10),y);
            ctxtop.lineTo(cx(90),y);
            //vertical
            ctxtop.moveTo(x,cy(10));
            ctxtop.lineTo(x,cy(90));

            ctxtop.setLineDash([5, 3]);
            // ctxtop.lineTo(cx(10),cy(90));
            // ctxtop.lineTo(cx(10),cy(10));
            ctxtop.strokeStyle="white";
            ctxtop.stroke();

            if(actualindex<0)
            return;

            var OHLCDataItem = OHLCData[actualindex];
            var curdate = new Date(OHLCDataItem.timestamp);
            labels = XLabelSelection(curdate);

            ctxtop.beginPath();
            // ctx.moveTo(cx(50),cy(5))
            ctxtop.font= "10px Arial";
            ctxtop.fillStyle="white"
            ctxtop.textAlign = "center";
            ctxtop.fillText("DT: "+labels.first+" "+labels.second, cx(5), cy(10));
            ctxtop.fillText("O: "+OHLCDataItem.open, cx(5), cy(14));
            ctxtop.fillText("H: "+OHLCDataItem.high, cx(5), cy(18));
            ctxtop.fillText("L: "+OHLCDataItem.low, cx(5), cy(22));
            ctxtop.fillText("C: "+OHLCDataItem.close, cx(5), cy(26));

            ctxtop.fillText("Pointer: "+PointerPrice.toFixed(2), cx(5), cy(36));
            // ctx.fillText(labels.second , cx(item.x), cy(98));
            ctxtop.stroke();
            

            // ctx.beginPath();
            // ctx.rect(x , y, cx(2), cy(2));
            // ctx.stroke();

        }
        
        $(document).ready(function(){
            
            recieveData();
            calculateMinMaxPrices();
            InitValues();
		 
            var canvas = document.getElementById('canvas');
			ctx = canvas.getContext('2d');
            //ctx.BeginPath();
            
            redraw();
            $("#canvasTop").mousemove(function(e){handleMouseMove(e);});
            // var totalcount =0 ;
            // setInterval(function(){
            //     redraw();
            //     totalcount++;
                
            // },20);
            
            
            
            
            

		});
    </script>
    <div id="display"> </div>
</body>

</html>
