<html>
    <head>
        <script type="text/javascript">
            function decide(){
                ohlcdata = document.getElementById("ohlcdata");
                ohlcdata.value=encodeURI(ohlcdata.value);
                return true;
            }
        </script>
    </head>
        <body>
            <form method="POST" action="chartdata.ejs" >
                <input id="ohlcdata" name="ohlcdata" value="testdata" />
                <input type="submit" onclick="javascript: return decide()" value="submit" />
            </form>
        </body>
    
</html>